<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weivapp"
    android:versionCode="88"
    android:versionName="3.2.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar" >
        <meta-data
            android:name="com.aviary.android.feather.v1.API_KEY"
            android:value="13a1fff7502014ad" />

        <activity
            android:name="com.weivapp.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aviary.android.feather.AlertActivity"
            android:launchMode="standard"
            android:noHistory="true"
            android:theme="@style/AviaryTheme.Dialog" >
            <intent-filter>
                <action android:name="aviary.intent.action.ALERT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aviary.android.feather.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:process=":aviarysdk"
            android:screenOrientation="unspecified"
            android:theme="@style/AviaryTheme" />
         <activity
            android:name="com.weivapp.StikkerActivity"
            android:label="@string/stikker_label"        
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.weivapp.ImagePreviewActivity"    android:screenOrientation="portrait"
            android:label="@string/title_activity_image_preview"
            android:windowSoftInputMode="adjustPan" >
        </activity>
<!--         <activity -->
<!--             android:name="com.weivapp.CameraActivity" -->
<!--             android:configChanges="orientation" -->
<!--             android:label="@string/title_activity_camera" -->
          
<!--             android:screenOrientation="portrait" > -->
<!--         </activity> -->
        <activity
            android:name="com.weivapp.UserSelectionActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_user_selection"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" >
        </activity>
        <activity
            android:name="com.weivapp.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.aviary.android.feather.cds.AviaryCdsService"
            android:exported="false"
            android:process=":aviarycds" >
            <intent-filter>
                <action android:name="aviary.intent.action.CDS_DOWNLOAD_START" />
                <action android:name="aviary.intent.action.CDS_RESTORE_USER_ITEMS" />
            </intent-filter>
        </service>

        <provider
            android:name="com.aviary.android.feather.cds.AviaryCdsProvider"
            android:authorities="com.weivapp.AviaryCdsProvider"
            android:exported="false"
            android:process=":aviarycds"
            android:syncable="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/APP_ID" />
    </application>

</manifest>